input,
input:focus,
input:visited,
input:active,
input:hover,
textarea:focus,
textarea,
textarea:hover,
textarea:visited,
textarea:active,
 {
    outline: none;
}


//CONTACT FORM START
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, .91);
    overflow: hidden;
    display: none;
    z-index: 100000;
}

input.error {
    box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
    border: 1px solid #ff8383;
    
}

input.valid {
    box-shadow: inset 0 0 13px rgba(55, 138, 45, 0.75);
    border: 1px solid #378a2dbf;
    
}

#loader img {
    z-index: 100000;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#overlay {
    z-index: 100000;
    display: none;
    position: fixed;
    @extend %w-h-100;
    background: rgba(0, 0, 0, .5);
    left: 0px;
    top: 0px;
    cursor: pointer;
}

#thx {
    z-index: 100001;
    color: $black;
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    background: $white;
    opacity: 1;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 40%;
    padding: 30px;
}

.modal {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    .modal-dialog {
        top: 15%;
        left: 0;
        right: 0;
        transform: translate(-50%, -50%);
        max-width: 466px;
        min-width: 290px;
        margin: auto;
        width: 100%;
        height: auto;
        .modal-content {
            background: $white;
            position: relative;
            border: none;
            border-radius: 0;
            max-width: 466px;
            min-width: 290px;
            width: 100%;
            height: auto;
            h3 {
                margin: 35px 0 35px 0;
                color: #535353;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}

.close {
    background: $bg-dark;
    z-index: 100002;
    width: 27px;
    height: 27px;
    color: $white;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: -28px;
    right: -28px;
    transition: .5 ease;
    cursor: pointer;
    &:hover {
        color: $dark;
        background: $white;
        transition: .5 ease;
    }
}

.btn {
    padding: 10px 16px 10px 16px;padding: 10px 16px 10px 16px;
    font-size: 20px;
    display: flex;
    color: $white;
    background: $bg-dark;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 22px auto 26px auto;
    
    &:hover {
        padding: 9px 15px 9px 15px;
        background: $white;
        border: 1px solid $dark;
        color: $dark;
        
    }
}

.form-group {
     position: relative;
     width: 73%;
     margin: 0 auto 16px auto;
     label {
        text-align: center;
        color: #535353;
        display: block;
        margin: 0;
     }
     label.error {
         position: absolute;
         font-size: 14px;
         color: #dc7f7f;
         top: 30px;
         height: 0;
         left: 20px;
         opacity: 0.5;
         font-style: italic;
     }
    
    textarea {
        width: 100%;
        height: 100%;
        min-height: 140px;
        display: flex;
        padding: 10px 0 10px 13px;
        border: 1px solid #c3c3c3;
    }

    input {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 10px 0 10px 13px;
        border: 1px solid #c3c3c3;
        .error {
            z-index: 1;
        }
        .valid {
            z-index: 2;
        }
    }
}
//CONTACT FORM END