// NAVIGATION MENU
 nav {
     width: 100%;
     z-index: 9999;
     background: $bg-dark;
     ul {
         max-width: 902px;
         margin: auto;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 26px 0 27px 0;
          white-space: nowrap;
          li {
              display: inline-block;
          }
         li:not(:last-child) {
             border-right: 1px solid $white;
             padding-right: 18.3px;
             padding-left: 18.3px;
         }
         li:last-child {
             padding-left: 18.3px;
         }
         li:first-child {
             padding-right: 18.3px;
             padding-left: 0;
         }
         a {
             min-height: 27px;
             display: block;
             color: $white;
             font-size: 30px;
             letter-spacing: 0.75px;
             text-decoration: none;
             &:hover {
                 text-decoration: underline;
                 color: $white;
             }
         }
     }
 }

 nav {
     .wrapper {
         overflow: hidden;
     }
     .wrap-limiter {
        max-width: 902px;
        width: 100%;
        margin: auto;
        overflow-x: scroll;
        -webkit-overflow-scrolling: scroll;
        margin-bottom: -27px;
        padding-bottom: 10px;
        mask-image: linear-gradient(90deg,
        transparent 0, rgba(0, 0, 0, .25) 2px,
        #000 4px,
        #000 calc(100% - 2px),
        rgba(0, 0, 0, .25) calc(100% - 2px),
        transparent);
     }
 }
